###> discordjs/vars ###
DISCORD_TOKEN=
CLIENT_ID=
###< discordjs/vars ###

###> guild/vars ###
GUILD_ID=
CHECK_EMOJI=1065766999038378004
###< guild/vars ###

###> sqlite/connection ###
SQLITE_HOST=
SQLITE_DATABASE=
SQLITE_USER=
SQLITE_PASSWORD=
###< sqlite/connection ###
